body {
  background-image: linear-gradient(#07090F, #262626);
  font-family: 'Ubuntu', sans-serif; }

main {
  text-align: center; }

a:hover {
  font-weight: bolder !important;
  color: aliceblue !important; }

.carousel-item img {
  height: 250px; }

.info-compra {
  background-color: #2b303a;
  text-align: center;
  border-radius: 4px;
  color: wheat;
  font-weight: bold;
  height: 100px;
  margin-top: 1em; }
  .info-compra .info-compra-item {
    padding-top: 25px; }
    .info-compra .info-compra-item img {
      transform: rotate(0deg);
      transition: all 1s ease; }
      .info-compra .info-compra-item img:hover {
        transform: rotate(360deg);
        transition: all 1s ease; }
    .info-compra .info-compra-item p {
      display: inline-block;
      margin-left: 15px; }

#title-categorias {
  margin: 25px 0;
  color: aliceblue; }

#custom-navbar {
  background-color: #07090F !important;
  border-radius: 6px; }
  #custom-navbar .navbar-brand {
    color: aliceblue;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif; }
  #custom-navbar .navbar-toggler {
    border-radius: 2px;
    padding: 0; }
  #custom-navbar .navbar-toggler, #custom-navbar .nav-link, #custom-navbar .navbar-toggler-icon, #custom-navbar .dropdown-item {
    color: aliceblue !important; }
  #custom-navbar .navbar-toggler-icon {
    background-size: 115%;
    object-fit: cover;
    background-color: aliceblue; }
  #custom-navbar .dropdown-menu {
    background-color: #07090F !important;
    border-radius: 6px; }
    #custom-navbar .dropdown-menu .dropdown-item:hover {
      background-color: #07090F; }

.card {
  width: 20em;
  margin: 15px 0;
  box-shadow: 2px 2px 8px 2px aliceblue;
  box-sizing: border-box;
  background-color: #07090F;
  border: solid 3px transparent;
  transition: all 1s ease; }
  .card:hover {
    border: solid 3px #2b303a;
    transform: scale(1.1, 1.1);
    transition: all 0.6s ease; }
  .card img {
    height: 300px;
    border: none;
    border-radius: 3px;
    object-fit: cover; }
  .card .card-body {
    color: aliceblue; }

.title-custom {
  position: absolute;
  color: aliceblue;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center; }

h1, h2, .contacto-p {
  color: aliceblue; }

.empresas-h2 {
  color: aliceblue;
  font-weight: bold;
  text-decoration: underline; }

.empresas-h4 {
  color: aliceblue; }

.empresas-p {
  color: aliceblue; }

.custom-form {
  color: #2b303a;
  margin-top: 100px; }

.btn, .btn-primary {
  background-color: #2b303a;
  border-color: #2b303a;
  width: 20vw; }
  .btn:hover, .btn-primary:hover {
    background-color: #07090F;
    border-color: #07090F; }
  .btn:active, .btn-primary:active {
    background-color: #07090F;
    border-color: #07090F; }
  .btn:focus, .btn-primary:focus {
    background-color: #07090F;
    border-color: #07090F; }

.animation-empresas {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background-color: aliceblue;
  transition: all 0.6s ease; }
  .animation-empresas:hover {
    transform: scale(1.2, 1.2);
    transition: all 1s ease; }

.footer-contacto {
  background-color: transparent;
  font-weight: bold;
  color: aliceblue;
  margin-top: 50px; }

.social-media {
  width: 98vw;
  display: flex;
  gap: 1vw;
  align-items: center;
  justify-content: center;
  margin-bottom: -20px; }
  .social-media .social-media-icon {
    height: 30px;
    width: 30px; }

.derechos-reservados {
  margin-bottom: 0;
  border-top: 2px solid aliceblue;
  padding-top: 20px;
  color: aliceblue; }

.custom-grid {
  margin-top: 6vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  justify-items: center;
  align-items: center;
  grid-template-areas: "animation1 empresas1 empresas1 animation2" ". empresas2 empresas2 ." "animation3 empresas3 empresas3 animation4" ". empresas4 empresas4 ."; }
  .custom-grid .empresas-grid1 {
    grid-area: empresas1; }
  .custom-grid .empresas-grid2 {
    grid-area: empresas2; }
  .custom-grid .empresas-grid3 {
    grid-area: empresas3; }
  .custom-grid .empresas-grid4 {
    grid-area: empresas4; }
  .custom-grid .grid-animation1 {
    grid-area: animation1; }
  .custom-grid .grid-animation2 {
    grid-area: animation2; }
  .custom-grid .grid-animation3 {
    grid-area: animation3; }
  .custom-grid .grid-animation4 {
    grid-area: animation4; }

.sobreNosotros {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  align-items: center;
  gap: 50px;
  grid-template-areas: "p1 image1 image1 image1" "image2 image2 p2 p2"; }
  .sobreNosotros .sobreNosotros__p--1 {
    color: aliceblue;
    grid-area: p1;
    padding: 30px; }
    .sobreNosotros .sobreNosotros__p--1::first-letter, .sobreNosotros .sobreNosotros__p--2::first-letter {
      color: wheat;
      font-size: 1.5em;
      margin-right: 1px; }
  .sobreNosotros .sobreNosotros__p--2 {
    color: aliceblue;
    grid-area: p2;
    padding: 30px; }
    .sobreNosotros .sobreNosotros__p--2::first-letter {
      text-decoration: underline; }
  .sobreNosotros .sobreNosotros__img--1 {
    grid-area: image1;
    width: 60vw;
    height: 400px;
    padding-left: 70px; }
  .sobreNosotros .sobreNosotros__img--2 {
    padding-left: 50px;
    grid-area: image2; }

@media (min-width: 1200px) {
  #custom-container-navbar {
    width: 1200px;
    margin: 0; }
    #custom-container-navbar .navbar-brand {
      margin-right: 300px; }
    #custom-container-navbar .nav-link {
      margin: 0 20px; }
  .carousel-item img {
    height: 500px; }
  .custom-categorias {
    padding-left: 1.7em;
    margin-top: 40px; }
  .footer-contacto {
    margin-top: 200px; }
    .footer-contacto h4 {
      margin-left: 100px;
      margin-right: 20px; }
    .footer-contacto h4, .footer-contacto p {
      display: inline-block; }
    .footer-contacto h2 {
      text-align: center;
      margin-bottom: 60px;
      text-decoration: underline; }
  .derechos-reservados {
    text-align: center;
    margin-top: 50px; } }

@media (max-width: 576px) {
  .custom-categorias {
    padding-left: 1.7rem; }
  .info-compra {
    height: 300px; }
    .info-compra .info-compra-item {
      margin: 10px 0; }
  .social-media {
    display: flex;
    gap: 6vw;
    align-items: center;
    margin-bottom: 20px; }
    .social-media .social-media-icon {
      height: 40px;
      width: 40px;
      margin-bottom: 10px; }
  .animation-empresas {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-color: aliceblue; }
  .custom-grid {
    margin-top: 6vh;
    padding: 0 12px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, auto);
    justify-items: center;
    align-items: center;
    grid-template-areas: "empresas1" "animation1" "empresas2" "animation2" "empresas3" "animation3" "empresas4" "animation4"; }
    .custom-grid .empresas-grid1 {
      grid-area: empresas1; }
    .custom-grid .empresas-grid2 {
      grid-area: empresas2; }
    .custom-grid .empresas-grid3 {
      grid-area: empresas3; }
    .custom-grid .empresas-grid4 {
      grid-area: empresas4; }
    .custom-grid .grid-animation1 {
      grid-area: animation1; }
    .custom-grid .grid-animation2 {
      grid-area: animation2; }
    .custom-grid .grid-animation3 {
      grid-area: animation3; }
    .custom-grid .grid-animation4 {
      grid-area: animation4; }
  .sobreNosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    justify-content: center;
    align-items: center;
    grid-template-areas: "p1" "image1" "p2" "image2"; }
    .sobreNosotros .sobreNosotros__p--1 {
      color: aliceblue;
      grid-area: p1;
      padding: 30px; }
    .sobreNosotros .sobreNosotros__p--2 {
      grid-area: p2; }
    .sobreNosotros .sobreNosotros__img--1 {
      grid-area: image1;
      width: 100vw;
      height: 30vh;
      padding-left: 0; }
    .sobreNosotros .sobreNosotros__img--2 {
      grid-area: image2;
      width: 100vw;
      height: 30vh;
      padding-left: 0; } }
