@media (min-width:1200px){
    
    #custom-container-navbar{
        width: 1200px;
        margin: 0;
        .navbar-brand{
            margin-right: 300px;
        }
        .nav-link{
            margin: 0 20px;
        }    
    }

    .carousel-item img{
        height: 500px;    
    }

    .custom-categorias{
        padding-left: 1.7em;
        margin-top: 40px ;
    }

    .footer-contacto{
        margin-top: 200px;
        h4{
             margin-left: 100px;
             margin-right: 20px;
        }
    
        h4, p{
             display: inline-block;
        }
    
        h2{
            text-align: center;
            margin-bottom: 60px;
            text-decoration: underline;
        }

    }
    .derechos-reservados{
        text-align: center;
        margin-top: 50px;
    }
}


@media (max-width:576px){
    

    .custom-categorias{
        padding-left: 1.7rem;
    }
    
    .info-compra{
        height: 300px;
        .info-compra-item{
    
            margin: 10px 0;    
        }
    }
    
    .social-media{
        display: flex;
        gap: 6vw;
        align-items: center;
        margin-bottom: 20px;
        .social-media-icon{
            height: 40px;
            width: 40px;
            margin-bottom: 10px;
        }
        
    }
    .animation-empresas{
        border-radius: 50%;
        height: 200px;
        width: 200px;
        background-color: $color1;
    }


    // // // GRID EMPRESAS
    
    .custom-grid{
        margin-top: 6vh;
        padding: 0 12px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, auto);
        justify-items: center;
        align-items: center;
        grid-template-areas: 
        "empresas1"
        "animation1"
        "empresas2"
        "animation2"
        "empresas3"
        "animation3"
        "empresas4"
        "animation4";

        .empresas-grid1{
            grid-area: empresas1;
        }
        .empresas-grid2{
            grid-area: empresas2;
        }
        .empresas-grid3{
            grid-area: empresas3;
        }
        .empresas-grid4{
            grid-area: empresas4;
        }
        .grid-animation1{
            grid-area: animation1;
        }
    
        .grid-animation2{
            grid-area: animation2;
        }
    
        .grid-animation3{
            grid-area: animation3;
        }
    
        .grid-animation4{
            grid-area: animation4;
        }
    }

    // // // GRID SOBRE NOSOTROS


    .sobreNosotros{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        justify-content: center;
        align-items: center;
        grid-template-areas: 
        "p1"
        "image1"
        "p2"
        "image2";
        .sobreNosotros__p--1{
            color: $color1;
            grid-area: p1;
            padding: 30px;

            
        }

        .sobreNosotros__p--2{
            grid-area: p2;

        }
        
        .sobreNosotros__img--1{
            grid-area: image1;
            width: 100vw;
            height: 30vh;
            padding-left: 0;
        }
        
        .sobreNosotros__img--2{
            grid-area: image2;
            width: 100vw;
            height: 30vh;
            padding-left: 0;
        }
        
    }
}