#custom-navbar{
    background-color: transparent !important;
    border-radius: 6px;
    border: 2px solid #001d3d;
    .navbar-brand{
        color: $color1;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
    }
    .navbar-toggler{
        border-radius: 2px;
        padding: 0;
    }
    .navbar-toggler, .nav-link, .navbar-toggler-icon, .dropdown-item{
        color: $color1;
    }
    .navbar-toggler-icon{
        background-size: 115%;
        object-fit: cover;
        background-color: $color1;
        
    }
    .dropdown-menu{
        background-color: #000814;
        border-radius: 6px;
        .dropdown-item:hover{
            background-color: #07090F;
        }
    
    }
}













