.title-custom{
    position: absolute;
    color: $color1;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

h1, h2, .contacto-p{
    color: $color1;
}

h2{
    color: $color1;
    font-weight: bold;
    text-decoration: underline;
}

.empresas-h4{
    color: $color1;
}

.empresas-p{
    color: $color1;

}